.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #fff;

  &__image {
    width: 200px;
   
   
   
    margin-bottom: 20px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
